<configuration includeCallerData="true">
    <appender
            name="KAFKA_APPENDER"
            class="com.nagornov.CorporateMessenger.infrastructure.logback.appender.CustomKafkaAppender"
    >
    </appender>

    <appender
            name="ASYNC_KAFKA_APPENDER"
            class="com.nagornov.CorporateMessenger.infrastructure.logback.appender.CustomAsyncKafkaAppender"
    >
        <appender-ref ref="KAFKA_APPENDER" />
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!---->
    <!---->
    <!---->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="ASYNC_KAFKA_APPENDER"/>-->
    </root>
</configuration>